workflows/05_Persona - News.json
{
  "name": "Persona - News",
  "nodes": [
    {
      "parameters": {},
      "id": "e65bd2d4-b362-4e00-bd3a-ebaf02678f15",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        208
      ]
    },
    {
      "parameters": {
        "url": "http://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "id": "2128f525-917f-4e86-8d53-cc15e7f1314d",
      "name": "RSS - BBC News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.lemonde.fr/rss/une.xml",
        "options": {}
      },
      "id": "ba913868-785e-4688-901d-c31c18fc13fe",
      "name": "RSS - Le Monde",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {}
      },
      "id": "615c9ff0-63dc-4a2f-bc6b-41ed2ad505ca",
      "name": "RSS - Hacker News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(it => {\n  const j = it.json;\n  return { json: {\n    source: 'BBC News',\n    title: (j.title || '').toString().trim(),\n    url: (j.link || j.url || '').toString().trim(),\n    summary: (j.contentSnippet || j.content || j.description || '').toString().replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim(),\n    date: (j.isoDate || j.pubDate || '').toString().trim()\n  }};\n});\n"
      },
      "id": "ff2adae9-da80-4c50-9957-736e7b5934dc",
      "name": "Normalize BBC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(it => {\n  const j = it.json;\n  return { json: {\n    source: 'Le Monde',\n    title: (j.title || '').toString().trim(),\n    url: (j.link || j.url || '').toString().trim(),\n    summary: (j.contentSnippet || j.content || j.description || '').toString().replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim(),\n    date: (j.isoDate || j.pubDate || '').toString().trim()\n  }};\n});\n"
      },
      "id": "048ca9e1-4635-4b90-9ef2-f1176958b721",
      "name": "Normalize Le Monde",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(it => {\n  const j = it.json;\n  return { json: {\n    source: 'Hacker News',\n    title: (j.title || '').toString().trim(),\n    url: (j.link || j.url || '').toString().trim(),\n    summary: (j.contentSnippet || j.content || j.description || '').toString().replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim(),\n    date: (j.isoDate || j.pubDate || '').toString().trim()\n  }};\n});\n"
      },
      "id": "46b27966-ce29-4749-9c53-7a32a9fe5dbe",
      "name": "Normalize Hacker News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "73b7bcc8-2499-4064-828f-cdf190284a37",
      "name": "Merge the Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        480,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nfunction normTitle(t) {\n  return (t || '').toString().toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n}\nfunction normUrl(u) {\n  return (u || '').toString().toLowerCase().split('?')[0].replace(/\\/+$/, '');\n}\n\nconst seenUrl = new Set();\nconst seenTitle = new Set();\nconst result = [];\n\nfor (const a of items) {\n  const urlKey = normUrl(a.url);\n  const titleKey = normTitle(a.title);\n  if (!urlKey && !titleKey) continue;\n  if (urlKey && seenUrl.has(urlKey)) continue;\n  if (titleKey && seenTitle.has(titleKey)) continue;\n  if (urlKey) seenUrl.add(urlKey);\n  if (titleKey) seenTitle.add(titleKey);\n  result.push(a);\n}\n\nreturn result.map(a => ({ json: a }));\n"
      },
      "id": "bf48153c-af24-443a-a5a1-f9894536f19b",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        208
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "cf8ad826-d087-4c82-9c6c-a10604d53f71",
      "name": "Callable Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "RSS - BBC News",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Le Monde",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - BBC News": {
      "main": [
        [
          {
            "node": "Normalize BBC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - Le Monde": {
      "main": [
        [
          {
            "node": "Normalize Le Monde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - Hacker News": {
      "main": [
        [
          {
            "node": "Normalize Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize BBC": {
      "main": [
        [
          {
            "node": "Merge the Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Le Monde": {
      "main": [
        [
          {
            "node": "Merge the Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalize Hacker News": {
      "main": [
        [
          {
            "node": "Merge the Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge the Sources": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callable Trigger": {
      "main": [
        [
          {
            "node": "RSS - BBC News",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Le Monde",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "884ae926-bddf-40dd-82bb-728100d2c660",
  "meta": {
    "instanceId": "2d62355de076b64b44c63db4d9de3855035293231158a41613aaf91c2a2b2978"
  },
  "nodeGroups": [],
  "id": "Snua39Gj0SnMEllY",
  "tags": [
    {
      "updatedAt": "2026-06-02T18:06:43.789Z",
      "createdAt": "2026-06-02T18:06:43.789Z",
      "id": "R3KyYXIKjGnUGw5y",
      "name": "persona"
    }
  ]
}