workflows/08_Persona - Delete User.json
{
  "name": "Persona - Delete User",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "username"
            }
          ]
        }
      },
      "id": "f309203f-2096-474c-a927-9fa5af2fb942",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "users",
          "mode": "name"
        },
        "options": {}
      },
      "id": "03def20c-d809-44cc-bb1d-d7886687f09a",
      "name": "Read All Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -656,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawTrigger = $('Execute Workflow Trigger').first().json;\nlet data = {};\nif (rawTrigger.username) {\n  data = rawTrigger;\n} else if (rawTrigger.query) {\n  try { data = JSON.parse(rawTrigger.query); }\n  catch(e) {\n    rawTrigger.query.split(',').forEach(pair => {\n      const ci = pair.indexOf(':');\n      if (ci !== -1) data[pair.substring(0, ci).trim()] = pair.substring(ci + 1).trim();\n    });\n  }\n}\n\nconst username = (data.username || '').toString().trim();\n\nif (!username) {\n  return [{ json: { status: 'error', message: 'Username is required.' } }];\n}\n\nconst allRows = $input.all();\nconst userRow = allRows.find(row => row.json.username && row.json.username.toString().toLowerCase() === username.toLowerCase());\n\nif (!userRow) {\n  return [{ json: { status: 'error', message: 'User not found.' } }];\n}\n\nreturn [{ json: { status: 'ok', username: userRow.json.username, rowIndex: allRows.indexOf(userRow) + 2 } }];\n"
      },
      "id": "8820a9a8-5944-4671-b1e8-b8e65126e687",
      "name": "Find User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-del-ok",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7309bec5-4e15-4172-adb8-c65fa0bfadf8",
      "name": "User Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "users",
          "mode": "name"
        },
        "startIndex": "={{ $json.rowIndex }}"
      },
      "id": "60b60313-8aa4-44c6-b18c-fda96aff1805",
      "name": "Delete Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "del-s-success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "del-s-message",
              "name": "message",
              "value": "=Your account has been successfully deleted. All your data has been erased. Goodbye!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "395e313f-e96c-4a3f-ae6d-dd254b4fa14e",
      "name": "Return Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "del-e-success",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "del-e-message",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "93888d03-4ace-47ea-854c-42ad66e79222",
      "name": "Return Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Read All Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Users": {
      "main": [
        [
          {
            "node": "Find User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User": {
      "main": [
        [
          {
            "node": "User Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found?": {
      "main": [
        [
          {
            "node": "Delete Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Row": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2841cd4f-1ab6-4018-8485-2c1bf0329c0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d62355de076b64b44c63db4d9de3855035293231158a41613aaf91c2a2b2978"
  },
  "nodeGroups": [],
  "id": "MmvU0PSnlcdPtfld",
  "tags": [
    {
      "updatedAt": "2026-06-02T18:06:43.789Z",
      "createdAt": "2026-06-02T18:06:43.789Z",
      "id": "R3KyYXIKjGnUGw5y",
      "name": "persona"
    }
  ]
}