workflows/09_Persona - Profile.json
{
  "name": "Persona - Profile",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "persona-profile",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-480, 0],
      "webhookId": "persona-profile-webhook-001"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "users",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-123456789abc",
      "name": "Read All Users",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-260, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function sha256(ascii) {\n  function rightRotate(value, amount) { return (value >>> amount) | (value << (32 - amount)); }\n  const mathPow = Math.pow;\n  const maxWord = mathPow(2, 32);\n  let result = '';\n  const words = [];\n  const asciiBitLength = ascii.length * 8;\n  let hash = [], k = [];\n  let primeCounter = 0;\n  const isComposite = {};\n  for (let candidate = 2; primeCounter < 64; candidate++) {\n    if (!isComposite[candidate]) {\n      for (let i = 0; i < 313; i += candidate) { isComposite[i] = candidate; }\n      hash[primeCounter] = (mathPow(candidate, .5) * maxWord) | 0;\n      k[primeCounter++] = (mathPow(candidate, 1 / 3) * maxWord) | 0;\n    }\n  }\n  ascii += '\\x80';\n  while (ascii.length % 64 - 56) ascii += '\\x00';\n  for (let i = 0; i < ascii.length; i++) {\n    const j = ascii.charCodeAt(i);\n    if (j >> 8) return;\n    words[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  words[words.length] = ((asciiBitLength / maxWord) | 0);\n  words[words.length] = (asciiBitLength);\n  for (let j = 0; j < words.length;) {\n    const w = words.slice(j, j += 16);\n    const oldHash = hash;\n    hash = hash.slice(0, 8);\n    for (let i = 0; i < 64; i++) {\n      const w15 = w[i - 15], w2 = w[i - 2];\n      const a = hash[0], e = hash[4];\n      const temp1 = hash[7]\n        + (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25))\n        + ((e & hash[5]) ^ ((~e) & hash[6])) + k[i]\n        + (w[i] = (i < 16) ? w[i] : (w[i - 16]\n            + (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3)) + w[i - 7]\n            + (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))) | 0);\n      const temp2 = (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22))\n        + ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]));\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n    }\n    for (let i = 0; i < 8; i++) { hash[i] = (hash[i] + oldHash[i]) | 0; }\n  }\n  for (let i = 0; i < 8; i++) {\n    for (let j = 3; j + 1; j--) {\n      const b = (hash[i] >> (j * 8)) & 255;\n      result += ((b < 16) ? 0 : '') + b.toString(16);\n    }\n  }\n  return result;\n}\n\nconst body = $('Webhook').first().json.body || {};\nconst username = (body.username || '').toString().trim();\nconst password = (body.password || '').toString();\nconst chatbotSession = body.chatbotSession === true;\n\nif (!username) {\n  return [{ json: { success: false, message: 'Username is required.' } }];\n}\n\nconst allRows = $input.all();\nconst userRow = allRows.find(row => row.json.username && row.json.username.toString().toLowerCase() === username.toLowerCase());\n\nif (!userRow) {\n  return [{ json: { success: false, message: 'User not found.' } }];\n}\n\nconst user = userRow.json;\n\nif (user.active !== 'TRUE' && user.active !== true) {\n  return [{ json: { success: false, message: 'This account is deactivated.' } }];\n}\n\n// If not a chatbot session, verify the password\nif (!chatbotSession) {\n  if (!password) {\n    return [{ json: { success: false, message: 'Password is required.' } }];\n  }\n  const inputHash = sha256(password);\n  if (inputHash !== user.password_hash) {\n    return [{ json: { success: false, message: 'Incorrect password.' } }];\n  }\n}\n\nconst interests = (user.interests || '').split(',').map(s => s.trim()).filter(Boolean);\n\nreturn [{ json: {\n  success: true,\n  username: user.username,\n  email: user.email,\n  interests: interests,\n  schedule: user.schedule || '',\n  active: user.active\n} }];\n"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-234567890bcd",
      "name": "Verify and Return Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-34567890cdef",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [180, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Read All Users", "type": "main", "index": 0 }]
      ]
    },
    "Read All Users": {
      "main": [
        [{ "node": "Verify and Return Profile", "type": "main", "index": 0 }]
      ]
    },
    "Verify and Return Profile": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09000000-0000-0000-0000-000000000009",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "persona-profile-workflow",
  "tags": [{ "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z", "id": "persona", "name": "persona" }]
}
